<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File uploader</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <%- include('./partials/header')%>
    <main class="container main-content">
      <div class="d-flex justify-content-center gap-2">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#createFolderModal"
        >
          Add folder
        </button>

        <%- include('./partials/create-folder-modal') %>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#uploadFileModal"
        >
          Upload file
        </button>
        <%- include('./partials/upload-file-modal') %>
      </div>

      <div class="d-flex align-items-center">
        <button
          onclick="window.location.href='<%- currentPath ? `/navigate?path=${currentPath.split('/').slice(0,-1).join('/')}` : `/navigate`%>'"
          class="back-button"
        >
          <img src="icons/arrow-left-circle.svg" alt="" />
        </button>
        <p><%- currentPath ? currentPath : '/'%></p>
      </div>
      <% if(typeof items !== 'undefined' && Array.isArray(items) &&
      items.length) { %>
      <ul>
        <% items.forEach(item => {%>
        <li>
          <a
            href="<%- `/navigate?path=${(currentPath ? currentPath + '/' : '/') + item}`%>"
            ><%= item %>
          </a>
        </li>
        <%})%>
      </ul>
      <% } %>
    </main>
    <%- include('./partials/footer')%>
    <script src="/folder-name-validation-script"></script>
  </body>
</html>
