<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File uploader</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <%- include('./partials/header')%>
    <main class="container main-content">
      <div class="d-flex justify-content-center gap-2">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#createFolderModal"
        >
          Add folder
        </button>

        <%- include('./modals/create-folder-modal') %>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#uploadFileModal"
        >
          Upload file
        </button>
        <%- include('./modals/upload-file-modal') %>
      </div>

      <div class="d-flex align-items-center mb-3">
        <button
          onclick="window.location.href='<%- currentPath ? `/storage/navigate?path=${currentPath.split('/').slice(0,-1).join('/')}` : `/storage/navigate`%>'"
          class="back-button"
        >
          <img src="/icons/arrow-left-circle.svg" alt="" />
        </button>
        <p><%- currentPath ? currentPath : '/'%></p>
      </div>
      <% if(typeof items !== 'undefined' && Array.isArray(items) &&
      items.length) { %> <% items.forEach(item => {%>
      <div
        class="card d-flex flex-row gap-2 p-2 mt-1 mb-2 align-items-center justify-content-between"
      >
        <div class="d-flex gap-2 align-items-center">
          <img
            src="<%- item.type === 'directory' ? '/icons/directory.svg' : '/icons/file.svg' %>"
            alt=""
            class="file-icon"
          />
          <a
            class="file-name"
            href="<%- `/storage/navigate?path=${(currentPath ? currentPath + '/' : '/') + item.name}`%>"
            ><%= item.name %>
          </a>
        </div>
        <div>
          <button
            type="button"
            class="btn border-0 dropdown-toggle-split"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img class="options-icon" src="/icons/three-dots.svg" alt="" />
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                class="dropdown-item details-modal-button"
                data-bs-toggle="modal"
                data-bs-target="#detailsModal"
                data-name="<%= item.name%>"
                data-size="<%= item.size %>"
                data-upload-date="<%= item.uploadDate %>"
              >
                Details
              </button>
            </li>
            <li>
              <button
                class="dropdown-item delete-modal-button"
                data-bs-toggle="modal"
                data-bs-target="#deleteItemModal"
                data-name="<%= item.name%>"
              >
                Delete
              </button>
            </li>
          </ul>
        </div>
      </div>
      <%})%> <% } %>
    </main>
    <%- include('./modals/delete-item-modal.ejs')%> <%-
    include('./modals/details-modal.ejs')%>
    <script src="/folderNameValidation.js"></script>
    <script src="/deleteModalInitialization.js"></script>
    <script src="/detailsModalInitialization.js"></script>
    <%- include('./partials/footer')%>
  </body>
</html>
