<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File uploader</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body class="d-flex flex-column">
    <%- include('./partials/header')%>
    <main class="container main-content mt-3">
      <div class="d-flex justify-content-center gap-2">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#createFolderModal"
        >
          Add folder
        </button>

        <%- include('./modals/create-folder-modal') %>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#uploadFileModal"
        >
          Upload file
        </button>
        <%- include('./modals/upload-file-modal') %>
      </div>

      <div class="d-flex align-items-center mb-3">
        <button
          onclick="window.location.href='<%- backPath ? backPath : `/storage/navigate`%>'"
          class="back-button"
        >
          <img src="/icons/arrow-left-circle.svg" alt="Back" />
        </button>
        <button
          data-bs-toggle="modal"
          data-bs-target="#shareFolderModal"
          class="share-button border-0 rounded-circle"
        >
          <img src="/icons/share.svg" alt="Share" />
        </button>
        <p><%- currentFolder ? currentFolder : 'Storage'%></p>
      </div>
      <%if( typeof shareLink !== 'undefined' && shareLink){%>
      <p class="bg-success-subtle mb-4 pt-2 pb-2 ps-4 pe-4 rounded-4">
        Share the folder with this link:
        <a class="text-decoration-none" href="<%= shareLink %>"
          ><%= shareLink %></a
        >
      </p>
      <%}%> <% if(typeof items !== 'undefined' && Array.isArray(items) &&
      items.length) { %> <% items.forEach(item => {%>
      <div
        class="card d-flex flex-row gap-2 p-2 mt-1 mb-2 align-items-center justify-content-between"
      >
        <div class="d-flex gap-2 align-items-center">
          <img
            src="<%- item.isFolder ? '/icons/directory.svg' : '/icons/file.svg' %>"
            alt=""
            class="file-icon"
          />
          <a
            class="file-name text-black"
            href="<%- item.isFolder ? `/storage/navigate?folder=${item.id}` : ``%>"
            ><%= item.name %>
          </a>
        </div>
        <div>
          <button
            type="button"
            class="btn border-0 dropdown-toggle-split"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img class="options-icon" src="/icons/three-dots.svg" alt="" />
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                class="dropdown-item details-modal-button"
                data-bs-toggle="modal"
                data-bs-target="#detailsModal"
                data-id="<%= item.id %>"
                data-name="<%= item.name%>"
                data-created-at="<%= item.createdAt %>"
              >
                Details
              </button>
            </li>
            <li>
              <button
                class="dropdown-item delete-modal-button"
                data-bs-toggle="modal"
                data-bs-target="#deleteItemModal"
                data-id="<%= item.id%>"
              >
                Delete
              </button>
            </li>
            <% if(!item.isFolder){%>
            <li>
              <a
                class="dropdown-item"
                href="/storage/download?fileId=<%= item.id%>"
                >Download
              </a>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
      <%})%> <% } %>
    </main>
    <%- include('./modals/delete-item-modal.ejs')%> <%-
    include('./modals/details-modal.ejs')%><%-
    include('./modals/share-modal.ejs')%>
    <script src="/folderNameValidation.js"></script>
    <script src="/deleteModalInitialization.js"></script>
    <script src="/detailsModalInitialization.js"></script>
    <%- include('./partials/footer')%>
  </body>
</html>
